---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
---

<Layout title="Portfolio de Donaji - Desarrollador y Programador web.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-10">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
				Hey, soy Donaji Sanchez<a 
				href="https://www.linkedin.com/in/jonathan-don%C3%A1ji-rangel-s%C3%A1nchez-00b755339/"
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center">
				<Badge>Disponible para trabajar</Badge></h1>
				</a> 
			<h2 class="text-2xl ">Jr Developer, comprometido con tu proyecto, HTML, CSS, JS, Desarrollador frontend.</h2>
			<nav class="flex gap-x-2 mt-8"> 
				<ul>
					<li>
						<SocialPill>
							<LinkedInIcon class="size-6"/>
							LinkedIn
						</SocialPill>
						<SocialPill>
							<GitHubIcon class="size-6"/>
							GitHub
						</SocialPill>
						<SocialPill>
							<MailIcon class="size-6"/>
							JonathanDonaji19@gmail.com
						</SocialPill>
					</li>
				</ul>
			</nav>
		</section>
	</main>
</Layout>
